.title {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.login-box {
  background: blueviolet;
  color: white;
  font-size: 20px;
  float: left;
  height: 200px;
  width: 50%;
  text-align: center;
}

.avg-box {
  text-align: center;
  background: yellow;
  color: black;
  font-size: 20px;
  float: right;
  height: 200px;
  width: 50%;



}