<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proNOTE</title>
    <link rel="stylesheet" href="../staticFiles/main.css">
</head>
<body>
    <div class="title">
        <h1>proNOTE</h1>
    </div>

    <div class="login-box">
        <form action="/" method="post">
            Username:<br>
            <input type="text" name='username'><br>
            Password:<br>
            <input  name='password' ><br><br>
            <input type="submit" value="Login">
        </form>
    </div>

    <div class="avg-box">
        <h1>{{info}}</h1>
    </div>

    <p>Website made by Julian Woroszylski</p>


</body>
</html>
